include .coveragerc
include CHANGES.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst
include CODE_OF_CONDUCT.md
include requirements.txt
include tox.ini
include .pre-commit-config.yaml
recursive-include docs *
recursive-include exampleapp *
recursive-include defender/templates *.html
recursive-exclude * *.py[co]
prune .eggs
